doctype html
html
	head
		title= titile
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(src="/css/bootstrap.min.css", rel='stylesheet', media='screen')
	body
		.container
			h1=user is logged in
			p.lead Say something worthwhile here
			a(href="/") Go home
			br
			a(href="/ping") Ping
			br
			br
			a(href="/logout") Logout
			
		script(src="httpL://code.jquery.com/jquery.js")
		script(src="js/bootstrap.min.js")
